h1
{
 color: bisque;
}
body
{
 background-color: rgb(19, 38, 31);
}
p {
    color:blue
}
p1 {
color:rgb(62, 148, 117)
}
.frame{
    width: 300px;
    border: solid 3px #ccc;
    
}
img{
    width: 100%;
    height: 100%;
}
footer{ 
    padding: 10px 500px;
}
footer1 {
    padding-left: 30cm;
    
}
p2{
    color:blueviolet
}