*{
    padding: 0;
    margin: 0;
}
section{
    display: flex;
    flex:1;
    width: 1189px;
    height: 150px;
    
}
.box{
    background-color: #B1EBC0;
   border: solid #0036B7 5px;
    font-size: 120px;
    text-align: center;
    justify-content: center;

}

body{
    background-image: url(photo_5201794862993757288_y.jpg
     ) ;
     background-size: 100%;
    
}
.general{
    background-color: #B1EBC0;
    justify-content: center;
    font-size: 50px;
    text-align: center;
margin: 100px;
    
}